{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <script type="text/javascript" src="/resourses/libs/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/resourses/libs/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/resourses/libs/css/bootstrap.css">
    <link rel="stylesheet" href="/resourses/libs/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="container">
        {{template "body" .}}
    </div>
</body>

</html>
{{end}}