{{define "body"}}

<div class="row text-center">
    <h2>Video listing</h2>
</div>

<div class="row col-md-offset-2 col-md-8">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th> Video File </th>
            <th> Play </th>
        </tr>
    
        {{range .VideoFiles}}
        <tr>
            <td>{{.Name}} </td>
            <td>
                {{ if not .IsDirectory }}
                    <a href="/play?file={{.Path}}">play</a>
                {{ end }}
            </td>
        </tr>
        {{end}}
        
    </table>
</div>


<script type="text/javascript">
</script>
 {{end}}