{{define "body"}}

<div class="row text-center">
    <h2>Videos available on server</h2>
</div>

<div class="row col-md-offset-2 col-md-8  padding-bottom-20">
    <div class="col-md-10">
        <h3>
            Hello {{.UserInfo.Email}}
        </h3>
    </div>
    <div class="col-md-2 text-center">
        <img src={{.UserInfo.Picture}}  height="60" width="60">
         {{$admin := .UserInfo.IsAdmin}}
    </div>   
</div>

<div class="row col-md-offset-8 col-md-2 padding-bottom-20">
    <div class="text-center">
        <a href="/list">Refresh List</a>
         | 
        <a href="/destroySession">Logout</a>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8 panel-group" id="accordion">
        {{range $key, $val :=  .VideoFiles}}
        {{$idnumber := $val.ID}}
        
        <div class="panel panel-default word-wrap-break">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href=#{{$idnumber}}>
                        {{$val.Name}}
                    </a>
                </h4>
            </div>
            <div id={{$idnumber}} class="row panel-collapse collapse padding-14px">

                {{/*range $child := $val.Childs}}
                <div class="panel-body">
                    {{$child.Path}}
                </div>
                {{end */}}

                <table class="table table-striped table-bordered table-hover table-layout-fixed">
                <tr>
                    <th class="col-md-11 text-center"><small>Video Files</small></th>
                    <th class="col-md-1"><small>Options</small></th>
                </tr>
                {{range $child := $val.Childs}}
                <tr>
                    <td class="col-md-10 word-wrap-break " >
                        <div>
                            <strong>
                                <small>
                                    Name:
                                </small>
                            </strong>
                            <small>
                                {{$child.Name}}
                            </small>
                        </div>
                        <div>
                            <strong>
                                <small>
                                    Description:
                                </small>
                            </strong>
                            <small>
                                {{$child.Desc}}
                            </small>
                        </div>
                    </td>
                    <td class="col-md-2">
                        <a href="/play?file={{$child.Path}}">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </a>
                        {{if $admin}}
                        <a id="updateDesc" data-toggle="modal" data-desc={{$child.Path}} data-id={{$child.ID}} data-target="#myModal">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        {{end}}
                    </td>
                </tr>
                {{end}}
                </table>
            </div>
        </div>
        {{end}}
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Description for Video</h4>
            </div>
            <div class="modal-body">
                <form id="contact_form" action="/updateDesc" method="POST">
                    <strong>Description</strong> 
                    <textarea rows="4" cols="60" name="description">
                    </textarea>
                    <input type="hidden" name="Id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submitForm" class="btn btn-default">Send</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    $("#contact_form").on("submit", function (e) {
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                // $('#contact_dialog .modal-header .modal-title').html("Result");
                // $('#contact_dialog .modal-body').html(data);
                // $("#submitForm").remove();
                $('#myModal').modal('toggle');
            },
            error: function (jqXHR, status, error) {
                debugger;
                console.log(status + ": " + error);
            }
        });
        e.preventDefault();
    });

    $("#submitForm").on('click', function () {
        $("#contact_form").submit();
    });

    $('#myModal').on('show.bs.modal', function (e) {
        //get data-id attribute of the clicked element
        var videoId = $(e.relatedTarget).data('id');

        //populate the textbox
        $(e.currentTarget).find('input[name="Id"]').val(videoId);

        var videodesc = $(e.relatedTarget).data('desc');
        $(e.currentTarget).find('textarea[name="description"]').val(videodesc);
    });

</script>
 {{end}}