body {
    /* background-color: teal; */
}

.margin-auto {
    margin: auto;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}


.display-flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}