body {
    /* background-color: teal; */
}

.margin-auto {
    margin: auto;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-14px {
    padding: 0px 14px;
}

.display-flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.word-wrap-break {
    word-wrap: break-word;
}

.table-layout-fixed {
    table-layout: fixed;
}

.mouse-pointer {
    cursor: pointer;
}

.padding-right-5px {
    padding-right: 5px;
}

#video-name{
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.edited-by{
    font-style: italic;
    display: inline;
}